.header-content {
  position: relative;
  z-index: 1;
  top: 0;
  &__container {
    @extend %container;
  }
  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
  }
  &__title {
    margin: 0 0 66px;

    text-align: center;
  }
}
